/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

nb-button::part(nb-button) {
  font-weight: normal;
}

body.theme-muesli-index nb-button::part(nb-button) {
  border-radius: 0.25rem; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  text-transform: none;
}

body.theme-muesli-index nb-button[secondary]::part(nb-button):hover {
  background-color: rgba(72 111 80 / 4%);
}
